#![enable(implicit_some)]
Prefab(
    entities: [
        // Player
        PrefabEntity(
            data: AnimationPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/pirate_ship.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
                                    normalized: true
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 549,
                                texture_height: 549,
                                columns: 1,
                                rows: 1,
                                sprite_count: 1
                            ))
                        ],
                        name: "player"
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "player",
                        sprite_number: 0,
                    ),
                    transform: None
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)